/* Fonte: Orbitron 

*/
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --fonte-principal: 'Orbitron', 'sans-serif';
    --cor-fundo: #0d0d0d;
    --cor-texto: #FFFFFF;
    --cor-primaria: #00d4ff;
    --cor-primaria-escura: #0050ff;
    --cor-cabecalho: #111111;
    --cor-cartao-fundo: #1a1a1a;
    --sombra: 0 0 0.625rem var(--cor-primaria);
    --sombra2: 0 0 0.1rem var(--cor-primaria);
    --sombra-hover: 0 0 1.25rem var(--cor-primaria), 0 0 2.5rem var(--cor-primaria-escura);
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    font-size: 16px;
    font-weight: 400;
}

header {
    width: 100%;
    top: 0;
}

header nav{
    display: flex;
    justify-content: right;
    border-bottom: 1px solid var(--cor-primaria);
}

header nav a {
    justify-content: space-between;
    margin-right: 15px;
    text-decoration: none;
    color: var(--cor-texto);
    font-size: var(--font-size);
    margin-top: -50px;
    transition: transform 0.5s;
}
header nav a:hover{
    color: var(--cor-primaria-escura);
}

.logo img {
    width: 200px;
    height: 100;
}

.container-titulo {
    align-items: center;
    text-align: center;
}

.container-titulo h2 {
    margin-top: 130px;
    font-size: 48px;
    margin-bottom: 45px;
}


.btn-cta {
    width: 324px;
    font-family: var(--fonte-principal);
    margin-top: 50px;
    background: linear-gradient(to right, #00D4FF, #0050FF);
    border-radius: 30px;
    padding: 1em;
    color: var(--cor-texto);
    text-decoration: none;
    transition: transform 0.5s;
}

.btn-cta:hover {
    transform: scale(1.1);
    box-shadow: var(--sombra-hover);
}

.container-sub2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.container-sub2 img {
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    width: 500px;
    height: 400;
    transition: transform 0.7s;
}

.container-sub2 img:hover {
    transform: scale(1.1);
    box-shadow: var(--sombra);
}

.btns-3 {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.btns-3 nav a {
    margin-top: 50px;
    padding: 1em;
    color: var(--cor-texto);
    text-decoration: none;
}

.btns-3 a {
    padding: 1em;
    background-color: #1A1A1A;
    box-shadow: var(--sombra2);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 0.5s;
}

.btns-3 a:hover {
    transform: scaleY(0.6);
    box-shadow: var(--sombra-hover);
}

.container-sub3 {
    align-items: center;
    text-align: center;
}

.subtitulo {
    margin-bottom: 30px;
}

.ingressos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
}

.ingresso-comum {
    width: 300px;
    height: 185.95px;
    padding: 1em;
    background-color: #1A1A1A;
    box-shadow: var(--sombra);
    border-radius: 10px;
    margin-right: 40px;
}

.vip-meet {
    width: 300px;
    height: 185.95px;
    padding: 1em;
    background-color: #1A1A1A;
    box-shadow: var(--sombra);
    border-radius: 10px;
    margin-right: 10px;
}

.titulo-ingresso {
    margin-bottom: 30px;
}

.ingressos p {
    font-size: 20px;
    margin-bottom: 40px;
}

.sub3 {
    margin-top: 10px;
}

.inscrevase {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 input[type="text"] {
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.inscrevase button {
    font-family: var(--fonte-principal);
    margin-top: 2px;
    width: 400px;
}

.rodape {
    margin-top: 40px ;
    border-top: 1px solid var(--cor-primaria);
    align-items: center;
    text-align: center;
}

.siganos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rodape p {
    margin-top: 15px;
}

.fim {
    margin-bottom: 30px;
}